In [1]:
import time 
import datetime
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [-0.1,0.3,-0.4, 0.8,-0.5],'B': [-0.2,0.5,0.3,-0.5,0.1],'C':['2019/03/03','2019/06/04','2019/09/03','2019/12/05','2020/03/04']},index=[0, 1, 2, 3,4])
df

     A    B           C
0 -0.1 -0.2  2019/03/03
1  0.3  0.5  2019/06/04
2 -0.4  0.3  2019/09/03
3  0.8 -0.5  2019/12/05
4 -0.5  0.1  2020/03/04

In [3]:
#set index
df['C']=df['C'].apply(lambda x: pd.Timestamp(x))
df.set_index(['C'],inplace=True)
df

              A    B
C
2019-03-03 -0.1 -0.2
2019-06-04  0.3  0.5
2019-09-03 -0.4  0.3
2019-12-05  0.8 -0.5
2020-03-04 -0.5  0.1

In [4]:
df.rolling('365d').sum()

              A    B
C
2019-03-03 -0.1 -0.2
2019-06-04  0.2  0.3
2019-09-03 -0.2  0.6
2019-12-05  0.6  0.1
2020-03-04  0.2  0.4